
// http://paletton.com/#uid=6131l0kw0w0jyC+oRxVy4oIDfjr

//primary clor - blue
$blueA : #e4f0fb; //very very pale blue;
$blue0 : #1531ae;  //lightest shade
$blue1 : #5a6dc2; 
$blue2 : #394fb3; 
$blue3 : #102586; 
$blue4 : #0a1b6a; //darkest shade
$blue5 : #000066; 
 
 //secondary color - green
$green0 : #98ed00; 
$green1 : #bdf15e;
$green2 : #acee35; 
$green3 : #76b700; 
$green4 : #5c9000; 


//complimentary color (1) - magenta
$magenta0 : #df004f; 
$magenta1 : #e75a8c; 
$magenta2 : #e13270;
$magenta3 : #ad003d; 
$magenta4 : #880030; 


//complimentary color (2) - orange
$orange0 : #ffb400; 
$orange1 : #ffd163; 
$orange2 : #ffc539; 
$orange3 : #c58b00; 
$orange4 : #9b6d00;
   
$white: #fff;


